<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/friends.css">
</head>
<body>
  <div class="container">
    <h2>游戏中</h2>
    {{#each inGameFriends}}
    <div class="friend">
      <div class="avatar-frame {{this.profileStatusClass}}">
        {{#if this.frameImg}}
        <img class="frame" src="{{this.frameImg}}" alt="Frame">
        {{/if}}
        <img class="avatar" src="{{this.playerAvatarImg}}" alt="Avatar">
      </div>
      <div class="details">
        <div class="name {{this.profileStatusClass}}">{{this.actualPersonaName}}</div>
        <div class="status {{this.profileStatusClass}}">
          {{this.profileStatus}}
          {{#if this.profileInGameName}}
          <div class="game-name">{{this.profileInGameName}}</div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
    
    <h2>在线</h2>
    {{#each onlineFriends}}
    <div class="friend">
      <div class="avatar-frame {{this.profileStatusClass}}">
        {{#if this.frameImg}}
        <img class="frame" src="{{this.frameImg}}" alt="Frame">
        {{/if}}
        <img class="avatar" src="{{this.playerAvatarImg}}" alt="Avatar">
      </div>
      <div class="details">
        <div class="name {{this.profileStatusClass}}">{{this.actualPersonaName}}</div>
        <div class="status {{this.profileStatusClass}}">
          {{this.profileStatus}}
        </div>
      </div>
    </div>
    {{/each}}
    
    <h2>离线</h2>
    {{#each offlineFriends}}
    <div class="friend">
      <div class="avatar-frame {{this.profileStatusClass}}">
        {{#if this.frameImg}}
        <img class="frame" src="{{this.frameImg}}" alt="Frame">
        {{/if}}
        <img class="avatar" src="{{this.playerAvatarImg}}" alt="Avatar">
      </div>
      <div class="details">
        <div class="name {{this.profileStatusClass}}">{{this.actualPersonaName}}</div>
        <div class="status {{this.profileStatusClass}}">
          {{this.profileStatus}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</body>
</html>